In [1]:
import pandas as pd

In [27]:
tmp = pd.read_excel('데이콘_메뉴_분류.xlsx', sheet_name=1, encoding="ISO-8859-1")

In [28]:
tmp

      재료1  재료2        메뉴    ㅋ
0      육류  채소류  대패삼겹숙주볶음   곡류
1     채소류  NaN      봄동나물   두류
2     채소류  NaN   콩나물간장조림   난류
3      육류  NaN        닭찜   묵류
4     채소류  NaN    아삭고추무침  어패류
...   ...  ...       ...  ...
3155  NaN  NaN     꼬지어묵탕  NaN
3156  NaN  NaN   고구마치즈구이  NaN
3157  NaN  NaN    나쵸콥샐러드  NaN
3158  NaN  NaN   토마토살사소스  NaN
3159  NaN  NaN      단호박죽  NaN

[3160 rows x 4 columns]

In [38]:
tmp['재료1'][tmp['메뉴'].str.contains('쇠고기')]

199     육류
212     육류
311     육류
473     육류
734     육류
875     육류
975     육류
1152    육류
1153    육류
1163    육류
1216    육류
1260    육류
1261    육류
1293    육류
1330    육류
1437    육류
1441    육류
1446    육류
1504    육류
1534    육류
1694    육류
1818    육류
1852    육류
1853    육류
1878    육류
1900    육류
2003    육류
2141    육류
2569    육류
2586    육류
2634    육류
2640    육류
2668    육류
2743    육류
2793    육류
2868    육류
2906    육류
3017    육류
3078    육류
3137    육류
Name: 재료1, dtype: object

In [37]:
tmp['재료1'][tmp['메뉴'].str.contains('돈육')]

59      육류
101     육류
313     육류
319     육류
373     육류
495     육류
842     육류
884     육류
919     육류
977     육류
1071    육류
1225    육류
1310    육류
1343    육류
1406    육류
1608    육류
1721    육류
1814    육류
1833    육류
1848    육류
1914    육류
2021    육류
2040    육류
2090    육류
2148    육류
2224    육류
2238    육류
2588    육류
2722    육류
2760    육류
2837    육류
2885    육류
2894    육류
2899    육류
2939    육류
3049    육류
3055    육류
Name: 재료1, dtype: object

In [40]:
tmp['재료1'][tmp['메뉴'].str.contains('미역')] = '해조류'

In [44]:
tmp['재료1'][tmp['메뉴'].str.contains('요거트')] = '유제품류'

In [46]:
tmp['재료1'][tmp['메뉴'].str.contains('샐러드')] = '채소류'

In [48]:
tmp['재료1'][tmp['메뉴'].str.contains('고등어')] = '어패류'

In [49]:
tmp[tmp['메뉴'].str.contains('참치')]

      재료1  재료2          메뉴     ㅋ
13    어패류  채소류     참치야채비빔밥  유제품류
49    어패류   곡류       참치주먹밥   NaN
98    채소류  채소류     참치야채샐러드   NaN
188   어패류  김치류      참치김치찌개   NaN
967   어패류  NaN       참치파개장   NaN
1054  어패류  NaN      참치채소볶음   NaN
1121  어패류  NaN       참치채소죽   NaN
1131  어패류   두류      두부참치조림   NaN
1230  NaN  NaN       참치야채전   NaN
1309  NaN  NaN       참치야채죽   NaN
1649  NaN  NaN       참치회덮밥   NaN
1714  채소류  NaN       참치샐러드   NaN
1756  NaN  NaN      참치마요덮밥   NaN
2187  NaN  NaN     김치참치주먹밥   NaN
2308  NaN  NaN        참치덮밥   NaN
2479  NaN  NaN         참치죽   NaN
2524  NaN  NaN        참치샌드   NaN
2618  NaN  NaN      참치김치볶음   NaN
2719  NaN  NaN      참치모닝샌드   NaN
2738  NaN  NaN  (New)참치두부전   NaN
2791  NaN  NaN        참치새드   NaN
3037  NaN  NaN        참치야채   NaN

In [50]:
tmp['재료1'][tmp['메뉴'].str.contains('참치')] = '어패류'

In [52]:
tmp[tmp['메뉴'].str.contains('계란')]

      재료1  재료2       메뉴    ㅋ
20     난류  해조류    김계란말이  NaN
93     곡류   난류   당면계란만두  NaN
114   어패류   난류   맛살계란말이  NaN
156    난류  채소류   단호박계란찜  NaN
220    난류  NaN   명란계란말이  NaN
...   ...  ...      ...  ...
3006  NaN  NaN   매운계란파국  NaN
3058  NaN  NaN      찐계란  NaN
3108  NaN  NaN  토마토계란볶음  NaN
3112  NaN  NaN      계란빵  NaN
3139  NaN  NaN  계란채소볶음밥  NaN

[62 rows x 4 columns]

In [53]:
tmp.to_excel('tmp.xlsx')